.card-header{
    font-size: larger;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(4, 7, 153, 0.596);
    color: white;
    

}